<div class="row row-cols-1 animated fadeIn">
  <div class="col-md-3" *ngFor="let item of items">

    <div (click)="verArtista(item)" class="card my-1 puntero">
      <img [src]="item.images | noimage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">
          <span class="badge rounded-pill text-bg-primary" *ngFor="let artista of item.artists">
            {{artista.name}}
          </span>
        </p>
      </div>
    </div>

  </div>
</div>
